@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
	--priamry-color: #bf344e;
	--secondary-color: #f2f4fb;
	--dark-gray: #9593a4;
}
body {
	font-family: "Raleway", sans-serif;
}
hr {
	padding: 1rem 0rem;
}

/* containers */
.container {
	padding: 0rem 1rem;
}
.container-center {
	max-width: 600px;
	margin: auto;
	text-align: center;
}

/* Links */

.link {
	text-decoration: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
}
.link-primary {
	background-color: var(--priamry-color);
	color: white;
}
.link-secondary {
	border: 1px solid var(--priamry-color);
	color: var(--priamry-color);
}
.list-non-bullet {
	list-style: none;
}
.list-item-inline {
	display: inline;
	padding: 0 0.5rem;
}

/* nav */
.nav {
	background-color: var(--priamry-color);
	color: var(--secondary-color);
	padding: 1rem;
	border-top-left-radius: 0.5rem;
}
.nav .brand {
	font-weight: bold;
	font-size: large;
}
.nav .nav-pills {
	text-align: right;
}
.nav .link {
	color: var(--secondary-color);
}

.nav .link-active {
	font-weight: bold;
}

/* header */

.hero {
	padding: 2rem;
}
.hero .hero-img {
	max-width: 350px;
	display: block;
	margin: auto;
}
.hero .hero-heading {
	color: var(--dark-gray);
	padding-top: 1rem;
	text-align: center;
	font-size: x-large;
}

.hero .hero-heading .hero-heading-focus {
	color: var(--priamry-color);
}

/* sections */

.